<div class="container mt-4">
    <h3 class="display-5">
        About
    </h3>
    <p class="mt-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quos esse natus dignissimos commodi totam
        aspernatur animi cumque omnis ipsum quas, soluta, a nihil, similique magnam dicta rerum? Illo, perspiciatis
        accusamus. Ad aliquam asperiores sit blanditiis exercitationem officia ipsa, in similique deleniti voluptatem
        iure fugiat provident nihil! Doloribus nostrum maxime aspernatur minima ab. Ut fuga illum quae quisquam earum
        natus, laudantium eveniet. Vel fugit sequi voluptatem eos quia. Amet illo totam nam nobis perferendis molestias
        veritatis. Enim recusandae veritatis voluptas quasi assumenda praesentium minus nesciunt ut explicabo, quidem
        iure voluptatibus, asperiores non possimus iusto? Totam pariatur provident incidunt ad repellat.
    </p>
</div>